.hero {
    background-color: var(--face-background);
    color: var(--main-color);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(var(--overlay-color), var(--overlay-color)),
    url(../images/mobile/header-img.jpg);

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(var(--overlay-color), var(--overlay-color)),
            url(../images/mobile/header-img@2x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(var(--overlay-color), var(--overlay-color)),
        url(../images/tablet/header-img.jpg);
            
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(var(--overlay-color), var(--overlay-color)),
            url(../images/tablet/header-img@2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(var(--overlay-color), var(--overlay-color)),
            url(../images/header-img.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(var(--overlay-color), var(--overlay-color)),
                url(../images/header-img@2x.jpg);
        }
    }

    &__container {
        margin: 0px auto;
        max-width: 1200px;
        padding: 118px 15px;
        
        @media screen and (min-width: 1200px) {
            padding: 200px 15px;
        }
    }

    &__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin: 0px auto 30px;
        max-width: 360px;
        
        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
            max-width: 700px;
            
        }
    }
}

.order-button {
    cursor: pointer;
    background: var(--first-logo-color);
    border-color: transparent;
    border-radius: 4px;
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 8px 22px;
    transition: background 250ms var(--transition-function),
                box-shadow 250ms var(--transition-function);

    &:hover {
        background: var(--button-active-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    
    &:focus {
        background: var(--button-active-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    @media screen and (min-width: 1200px) {
        padding: 8px 30px;
    }
}